@charset "UTF-8";


h1 {
	 text-align: center;
	 margin-top: 80px;
	 font-size: 100px;
	 font-weight:bold;
	 margin-bottom: 70px;
}

h1 span:nth-child(1) {
	color: #4285f4;
}
h1 span:nth-child(2) {
	color: #ea4335;
}
h1 span:nth-child(3) {
	color: #fbbc05;
}
h1 span:nth-child(4) {
	color: #4285f4;
}
h1 span:nth-child(5) {
	color: #34a853;
}
h1 span:nth-child(6) {
	color: #ea4335;
}


h3 {
	text-align: center;
	 margin-top:20px;
	 font-size: 20px;
	 font-weight:bold;
	 margin-bottom: 10px;
}

form {
	  text-align: center;
}

